.currency-opener {
  width: 7rem;
  height: 2.5rem;
  border-radius: 5px;
  outline: transparent;
  border: transparent;
  position: relative;
  cursor: pointer;
  background: var(--toggle-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.currency-opener:hover {
  background: var(--toggle-hover-color);
}
.currency-opener > p {
  font-size: 1rem;
  background-color: transparent;
  margin-right: 0.5rem;
}
.fa-down {
  font-size: 1.35rem;
}
@media (max-width: 1000px) {
  .currency-opener {
    width: 6rem;
    height: 2rem;
  }
  .currency-opener > p {
    font-size: 0.85rem;
  }
  .fa-down {
    font-size: 1.25rem;
  }
}
@media (max-width: 555px) {
  .currency-opener {
    width: 5rem;
    height: 1.85rem;
  }
  .currency-opener > p {
    font-size: 0.8rem;
  }
  .fa-down {
    font-size: 1.2rem;
    right: 0.5rem;
  }
}
@media (max-width: 360px) {
  .currency-opener {
    width: 4rem;
    height: 1.75rem;
  }
  .currency-opener > p {
    background-color: transparent;
    font-size: 0.75rem;
  }
  .fa-down {
    font-size: 1.1rem;
    right: 0.5rem;
  }
}
