.currency-dropdown {
  max-height: 15rem;
  min-height: 2.5rem;
  height: auto;
  width: 18rem;
  background-color: rgb(41, 43, 66);
  position: absolute;
  margin-top: 0.25rem;
  right: 2rem;
  border-radius: 5px;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px 0px;
  z-index: 1;
}
.currency-dropdown::-webkit-scrollbar {
  width: 10px;
}
.currency-dropdown::-webkit-scrollbar-track {
  background: rgb(51, 53, 85);
}
.currency-dropdown::-webkit-scrollbar-thumb {
  background: #544b7c;
}
.currency-form {
  top: 0;
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292b42;
  padding-top: 0.5rem;
}
.search-currency {
  background-color: rgb(84, 75, 124);
  width: 90%;
  height: 1.8rem;
  border-radius: 8px;
  outline: transparent;
  border: 1px solid rgba(197, 179, 245, 0.459);
  color: #ffffff;
  padding-left: 1rem;
}
.currency-container {
  background-color: rgb(41, 43, 66);
}
.currency-row {
  height: 2rem;
  border-bottom: solid 1px rgba(128, 128, 128, 0.144);
  width: 90%;
  justify-content: flex-start;
}
.currency-row:hover {
  background-color: rgb(62, 65, 99);
}
.currency-row > p {
  background-color: transparent;
  font-size: 0.8rem;
}
.currency-code {
  color: rgb(184, 182, 182);
  margin-left: 0.35rem;
}
@media (max-width: 360px) {
  .currency-dropdown {
    width: 16rem;
  }
}
