.donation-coin-selected-container {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: row;
  padding: 0 1rem 0 1rem;
  align-items: center;
  justify-content: center;
  background-color: #60548091;
  width: 13rem;
  height: 35px;
  position: relative;
  cursor: pointer;
}
.donation-coin-selected-container:hover {
  background-color: #76689e91;
}
.fa-down-donation {
  background: transparent;
  color: #e0e1e3;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
}
.up {
  transform: rotate(180deg);
}

.donation-coin-selected-title {
  background-color: transparent;
  margin-right: 18.4px;
  color: #e0e1e3;
  font-weight: lighter;
  font-size: 1rem;
}
@media (min-height: 640px) {
  .donation-coin-selected-container {
    height: 50px;
    margin-top: 1rem;
  }
  .donation-coin-selected-title {
    font-size: 1.25rem;
    font-weight: normal;
  }
}
@media (min-width: 400px) {
  .donation-coin-selected-container {
    width: 17rem;
  }
}
