@keyframes opacity-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hand-rotate {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes coin-fly {
  to {
    transform: translateY(-100px);
  }
}
@keyframes anim-from-right {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  position: relative;
}
hr {
  margin: 0.5rem 0 1rem 0;
  width: 85%;
  text-align: center;
  opacity: 0.4;
}
.copyright-text {
  margin: 1rem 0 1rem 0;
  color: var(--footer-text);
}
.social-icon-row {
  width: 100%;
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons > li {
  display: flex;
  margin: 0 0.5rem 0 0.5rem;
  justify-content: center;
  align-items: center;
}
.social-icons > li > a {
  z-index: 0;
}
.btn {
  padding: 0.5rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background: var(--btn-hover-color);
}

.btn-hand {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%;
  border: var(--btn-border);
  width: 8rem;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  outline: none;
}
.btn-buy {
  width: 6rem;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}
.fa {
  color: var(--footer-text);
  background-color: transparent;
  font-size: 1.5rem;
}

.icon-hand {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  align-self: start;
  width: 2.25rem;
  height: 1.25rem;
}
.hand-anim {
  animation-name: hand-rotate;
  animation: hand-rotate 0.6s ease-in 1s;
}
.coin-over-hand {
  width: 1.15rem;
  height: 1.15rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: end;
  opacity: 0.8;
  animation: opacity-anim 1s, coin-fly 0.6s ease-out 1.15s 2 alternate;
  z-index: 10;
}
/* .opacity {
  animation-name: opacity-anim;
  animation-duration: 0.5s;
  animation-delay: 0s;
  opacity: 1;
} */
.donate-text {
  background-color: transparent;
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: start;
  align-self: center;
  font-size: 1rem;
  color: var(--footer-text);
  font-weight: bold;
}
.link {
  text-decoration: none;
}
.ad-free-text {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anim-from-right 3s ease-out 3s both;
  opacity: 1;
}
/* .ad-free-text > p {
  color: #a4aabb;
  font-weight: bold;
} */
.faLongArrowAltLeft {
  color: #a4aabb;
  font-size: 1.75rem;
  margin: 0 0.25rem 0 0.5rem;
}
.cookie-banner {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  background-color: black;
  opacity: 70%;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cookie-banner p {
  font-size: 0.8rem;
  color: white;
}
.fa-times-banner {
  font-size: 1.25rem;
  margin: 1rem;
  color: white;
  position: relative;
}
@media (max-width: 555px) {
  .cookie-banner {
    height: 40%;
    padding: 0.35rem;
  }
  .cookie-banner p {
    font-size: 0.7rem;
  }
  .fa-times-banner {
    font-size: 0.6rem;
    margin: 0.5rem;
  }
  /* .ad-free-text {
    margin-top: 0.5rem;
    flex-direction: column-reverse;
  } */
  /* .ad-free-text > p {
    font-size: 0.65rem;
    font-weight: bold;
    margin-left: 0.25rem;
  } */
  /* .faLongArrowAltLeft {
    font-size: 1.25rem;
  } */
}

@media (max-width: 390px) {
  /* .ad-free-text {
    margin-top: 0.2rem;
  } */
  /* .ad-free-text > p {
    font-size: 0.45rem;
    font-weight: bold;
    margin-left: 0.25rem;
  } */
  hr {
    margin: 0.35rem 0 0.25rem 0;
  }
  .btn {
    height: 2.15rem;
  }
  .donate-text {
    font-size: 0.8rem;
  }
  .icon-hand {
    width: 1.6rem;
    height: 0.88rem;
  }
  .btn-hand {
    width: 6rem;
  }
  .coin-over-hand {
    width: 0.85rem;
    height: 0.85rem;
  }
  .btn-buy {
    width: 4.75rem;
  }
  .btn-twitter {
    width: 2.15rem;
  }
  .fa {
    font-size: 1.25rem;
  }
  .copyright-text {
    font-size: 0.8rem;
    margin: 0.15rem 0 0.25rem 0;
  }
  .cookie-banner {
    height: 60%;
    padding: 0.25rem;
  }
  .cookie-banner p {
    font-size: 0.6rem;
  }
  .fa-times-banner {
    font-size: 0.5rem;
    margin: 0.4rem;
  }
}
