.coin-search {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* To make all text unselectable */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-tap-highlight-color: transparent; /*android chrome*/
}
.coin-text {
  font-size: 1.3rem;
  margin-bottom: 0.1rem;
  text-align: center;
  /* color: white; */
}
.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.selected-coin-in-search-container {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.coin-input {
  padding-left: 16px;
  width: 320px;
  height: 50px;
  border-radius: 6px;
  border: none;
  background-image: var(--searchbar-background);
  box-shadow: var(--shadow);
  color: #e2e2e2;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
}
::placeholder {
  color: rgba(255, 255, 255, 0.658);
}
.donation-input {
  margin-top: 0.5rem;
  background-image: none;
  background-color: transparent;
  background: #484063;
}

@media (max-width: 800px), (max-height: 755px) {
  .coin-text {
    font-size: 1.1rem;
  }
  .coin-input {
    width: 250px;
    height: 40px;
    font-size: 0.9rem;
  }
  .search-form {
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 581px) {
  .coin-text {
    align-self: flex-start;
    font-size: 0.85rem;
  }
  .coin-input {
    width: 250px;
    height: 40px;
  }
  .donation-input {
    height: 35px;
  }
}
@media (max-width: 375px) {
  .coin-input {
    width: 250px;
    height: 35px;
  }
}
