@keyframes anim {
  0% {
    transform: scale(0.4);
    opacity: 0;
    /* transform: translateX(-50%); */
  }
  50% {
    /* transform: translateX(5%); */
    opacity: 0.9;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);

    /* transform: translateX(0%); */
  }
}
.selectedCoin-container-parent {
  display: flex;
  justify-content: center;
  position: relative;
  opacity: 1;
  animation-name: anim;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}
.selectedCoins-container {
  margin: 3rem 1rem 0 1rem;
  /* flex-basis: 100%; */
  display: flex;
  /* was row before */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  position: relative;
  box-shadow: var(--light-black-shadow);
  cursor: pointer;
  border: 1.5px solid transparent;
  background: var(--selected-linnear);
  background-clip: padding-box;
  border-radius: 20px;
  /* border-image: linear-gradient(-45deg, #9b76cd, #639ce7) 1; */
  /* padding: 0.7rem; */
}
.selectedCoins-container::after {
  position: absolute;
  top: -1.5px;
  bottom: -1.5px;
  left: -1.5px;
  right: -1.5px;
  background: var(--selected-border-linnear);
  content: "";
  z-index: -1;
  border-radius: 20px;
}

.text-div {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  /* margin-top: 2.25rem; */
  align-items: center;
  padding: 0 1rem 1rem 1rem;
  /* display: none; */
}
.market-cap-title {
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;
  margin-bottom: 0.3rem;
  /* text-decoration: underline;
  text-decoration-color: rgba(203, 200, 226, 0.644);
  text-decoration-thickness: 1px; */
}
.a-img {
  width: 2.5rem;
  height: 2.5rem;
}
.b-img {
  width: 1.2rem;
  height: 1.2rem;
  align-self: center;
  margin-right: 0.25rem;
}
.first-text-img {
  grid-column: 1/2;
  grid-row: 2/3;
}
.second-text-img {
  grid-column: 1/2;
  grid-row: 3/4;
}

.first-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 2/3;
  grid-row: 2/3;
}
.second-text {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.coin-prices {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}
.img-price {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.8rem 1.5rem 0.5rem 1.5rem;
}
.before-symbol {
  order: 0;
}
.after-symbol {
  order: 1;
}
.letter-before {
  margin-right: 0.6rem;
}
.letter-after {
  margin-left: 0.35rem;
}
.grid-before {
  font-size: 2rem;
  grid-column: 3/4;
  grid-row: 3/4;
}
.grid-after {
  font-size: 2rem;
  grid-column: 4/5;
  grid-row: 3/4;
  justify-self: flex-end;
  z-index: 2;
}
.symbol-first {
  grid-row: 2/3;
}
.percent {
  margin-left: 0.5rem;
  font-weight: lighter;
  font-size: 1.5rem;
  order: 2;
}
.positive {
  color: #16c784;
}
.negative {
  color: #ea3943;
}
h2 {
  color: var(--mc-text-color);
  font-size: 1.3rem;
}
.grid-symbol {
  font-size: 1.3rem;
}
.span-multiply {
  font-weight: bold;
  margin-left: 1px;
  color: inherit;
}
.span-percent {
  margin-left: 0px;
  font-weight: unset;
}
.fa-chevron-down {
  color: #9f96c1;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}
.card-desc {
  font-size: 0.85rem;
  color: var(--alt-color);
  background-color: transparent;
  padding-top: 0.75rem;
  margin: 0 0.25rem 0 0.25rem;
}
.url-text {
  font-size: 0.8rem;
  color: var(--mc-text-color);
  background: transparent;
  position: absolute;
  bottom: 0.15rem;
  right: 1.5rem;
}
@media (max-width: 800px) {
  .coin-prices {
    font-size: 2.25rem;
  }
  .a-img {
    width: 2.25rem;
    height: 2.25rem;
  }
  h2 {
    font-size: 1.15rem;
  }
  .firstafter-text > h2 {
    font-size: 1.05rem;
  }
  .market-cap-title {
    margin-bottom: 0.25rem;
  }
  .url-text {
    font-size: 0.7rem;
    bottom: 0.1rem;
    right: 1.25rem;
  }
  .percent {
    font-size: 1.4rem;
  }
  .b-img {
    width: 1.05rem;
    height: 1.05rem;
  }
  .img-price {
    padding-top: 0.6rem;
  }
  .text-div {
    padding-bottom: 1rem;
  }
}

@media (max-width: 581px), (max-height: 755px) {
  .selectedCoins-container {
    margin: 0.5rem 0rem 0 0rem;
  }
  .coin-prices {
    font-size: 1.75rem;
  }
  .a-img {
    width: 1.85rem;
    height: 1.85rem;
  }
  h2 {
    font-size: 1.15rem;
  }
  .firstafter-text > h2 {
    font-size: 0.85rem;
  }
  .market-cap-title {
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
  }
  .url-text {
    font-size: 0.55rem;
    bottom: 0.1rem;
    right: 1.25rem;
  }
  .percent {
    font-size: 1.1rem;
    margin-left: 0.25rem;
  }
  .b-img {
    width: 0.85rem;
    height: 0.85rem;
  }
  .img-price {
    padding-top: 0.4rem;
    padding-bottom: 0.25rem;
  }
  .text-div {
    padding-bottom: 0.85rem;
  }
  .card-desc {
    font-size: 0.7rem;
    padding-top: 0.45rem;
  }
  .fa-chevron-down {
    font-size: 1.25rem;
    margin-bottom: 0.15rem;
  }
}
@media (max-width: 375px) {
  .selectedCoins-container {
    margin-top: 0.25rem;
  }
  .coin-prices {
    font-size: 1.5rem;
  }
  .a-img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .firstafter-text > h2 {
    font-size: 0.85rem;
  }
  .market-cap-title {
    margin-bottom: 0.05rem;
    font-size: 0.85rem;
  }
  .url-text {
    font-size: 0.5rem;
    bottom: 0.1rem;
    right: 0.9rem;
  }
  .percent {
    font-size: 0.9rem;
    margin-left: 0.15rem;
  }
  .b-img {
    width: 0.7rem;
    height: 0.7rem;
  }
  .img-price {
    padding-top: 0.25rem;
    padding-bottom: 0.2rem;
  }
  .text-div {
    padding-bottom: 0.75rem;
  }
  .card-desc {
    font-size: 0.6rem;
    padding-top: 0.4rem;
  }
  .fa-chevron-down {
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
  }
}
