.swap {
  background-color: transparent;
  position: absolute;
  top: 13.7rem;
  cursor: pointer;
  /* To make all text unselectable */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-tap-highlight-color: transparent; /*android chrome*/
}
.icon {
  background-color: transparent;
  font-size: 2rem;
  color: #cfc3ff;
}
@media (min-width: 1000px) {
  @media (max-height: 755px) {
    .swap {
      top: 13.15rem;
    }
  }
}
@media (max-width: 1000px) {
  .swap {
    top: 12.2rem;
  }
  @media (max-height: 755px) {
    .swap {
      top: 11.7rem;
    }
  }
}
@media (max-width: 800px) {
  .swap {
    top: 11.6rem;
  }
  .icon {
    font-size: 1.65rem;
  }
}
/* @media (max-width: 572px) {
  @media (max-height: 531px) {
    .i-selected {
      transform: scaleX(0.8);
    }
    .s-selected {
      transform: rotate(90deg);
    }
  }
} */
@media (max-width: 581px) {
  .icon {
    transform: scaleX(0.8);
    font-size: 1.6rem;
  }
  .swap {
    right: 0rem;
    margin-right: 7rem;
    top: 11.75rem;
    transform: rotate(90deg);
  }
}
@media (max-width: 480px) {
  .swap {
    margin-right: 4rem;
  }
}
@media (max-width: 375px) {
  .swap {
    top: 10.3rem;
    margin-right: 2rem;
  }
  .icon {
    font-size: 1.5rem;
  }
}
@media (max-width: 243px) {
  .swap {
    visibility: hidden;
  }
}
