@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: rgb(23, 24, 37);
}

#root {
  height: 100%;
}
.homepage-root {
  height: 100%;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
a {
  z-index: 1;
  text-decoration: none;
}
